footer {
	min-height: var(--footer-height);
	background-color: var(--background-color);
	color: var(--color-f);
	padding-bottom: 2vh;
	width: 100vw;
	z-index: 1;
	position: relative;
}
footer > nav {
	background-color: var(--nav-color);
	margin: 1vh 0;
}
footer > nav a,
footer > nav p {
	color: var(--text-color);
	background-color: var(--button-color);
}
footer > nav a:hover,
footer > nav p:hover {
	color: var(--header-color);
	background-color: var(--accent-color);
}
footer #links {
	min-height: var(--links-height);
	padding: 2vh;
}
footer #links p {
	font-size: var(--info-title-size);
}
footer #links a {
	font-weight: 700;
	text-decoration: none;
	margin: auto 1vh;
}
footer #call a:hover,
footer #socials a:hover {
	font-family: avenirbold;
}
footer #call a {
	font-size: var(--call-size);
}
footer #hours a {
	font-size: var(--hours-size);
}
footer #socials a {
	font-size: var(--socials-size);
	font-weight: 100;
}
footer #socials {
	display: grid;
	grid-template-columns: 100%;
}
footer #lastmod,
footer #copyright p {
	font-size: 1.5vh;
	color: var(--accent-color);
	margin: 1vh 1vw;
	display: inline-block;
}

/*desktop nav*/
@media (min-width: 80vh) {
	footer > nav {
		display: block;
		padding: 0;
	}
	footer > nav a {
		padding: 0 1vh;
		margin: 0 1vh;
		font-size: var(--a-size);
		text-decoration: none;
	}
	footer > nav > p {
		display: none;
	}
	footer #links {
		display: grid;
		grid-template-columns: 3fr 4fr 3fr;
		grid-template-rows: auto;
	}
	footer #call {
		grid-column-start: 2;
	}
	footer #socials p {
		margin-bottom: 1vh;
	}
	footer #copyright {
		display: flex;
		width: auto;
		justify-content: center
	}
}

/*mobile nav*/
@media (max-width: 80vh) {
	.footer > div {
		grid-template-columns: auto;
		grid-template-rows: repeat(3, auto);
	}
	footer > nav a,
	footer > nav p {
		padding: 1vh 0;
		font-size: 3vh;
		margin: 0;
		font-family: luloclean;
		text-decoration: none;
	}
	footer > nav > p {
		display: block;
		padding: 0.5vh 0;
		font-size: 2vh;
	}
	footer > nav div {
		display: none;
	}
	footer > nav p:hover + div,
	footer > nav div:hover {
		display: grid;
		grid-template-rows: auto auto;
	}
	footer #call {
		grid-row-start: 1;
	}
}