main::-webkit-scrollbar {
	display: none;
}
body::-webkit-scrollbar {
	display: none;
}
body {
	margin: 0;
	text-align: center;
	color: var(--text-color);
	background-color: var(--color-0);
	font-family: avenirlight, sans-serif;
}
a {
	color: var(--text-color);
	text-decoration: none;
}
p {
	color: var(--text-color);
}
main a {
	background-color: var(--button-color);
}
main a:hover {
	background-color: var(--main-color);
}
main p {
	font-size: var(--p-font-size);
	font-family: avenir;
	max-width: min(90%, 1000px);
	margin: 2vw auto;
}
main hr {
	border: 1px solid var(--color-f);
	margin: 4.5vh auto -4.5vh;
	width: 99%;
	height: 0;
}
main hr + h2 {
	background-color: var(--color-f);
	color: var(--color-6);
	font-size: var(--h2-font-size);
	padding: 1vh 3vh;
	margin: 0 auto 3vh;
	display: inline-flex;
}
#span-img {
	position: fixed;
	overflow: hidden;
	width: 100vw;
	height: calc(var(--span-height) + var(--header-height) - var(--nav-height) + 1px);
	min-height: calc(100vh - var(--max-span-gap) - var(--nav-height) + 1px);
	max-height: calc(100vh - var(--nav-height) + 1px);
	margin-top: calc(-1 * (var(--header-height) - var(--nav-height) + 1px));
	z-index: -1;
}
#span-img img {
	width: 100vw;
	height: 100%;
	object-fit: cover;
}
#span {
	height: var(--span-height);
	min-height: calc((100vh - var(--max-span-gap)) - var(--header-height));
	max-height: calc(100vh - var(--header-height));
	align-items: center;
	justify-content: center;
	display: grid;
}
#span > span {
	font-family: luloclean;
	font-size: var(--span-font-size);
	color: var(--text-color);
	letter-spacing: 3vmin;
	margin: auto;
	width: auto;
	padding-left: 4vmin;
}
#bg {
	background-color: var(--color-0);
	background-image: url('../pics/sunsetbg.webp');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5vw 0;
	width: 100vw;
}
#bg > section,
#bg > div {
	padding: 2.5vw 10vw;
}