:root{
	--accent-color: #ea3232;
	--header-color: #353738;
	--nav-color: #999999;
	--button-color: #504e4e;
	--text-color: #ffffff;
	--h2-bg-color: #ffffff;
	--h2-text-color: #555555;
	--mobile-width: 70vh;
	--nav-height: 13vh;
	--logo-height: 15vh;
	--logo-margin-top: 2vh;
	--header-height: calc(var(--nav-height) + var(--logo-height) + var(--logo-margin-top));
	--span-height: 50vw;
	--max-span-gap: 20vh;
	--span-font-size: 8vmin;
	--h1-font-size: min(4vh, 10vw);
	--h2-font-size: min(7vw, 35px);
	--p-font-size: min(4.5vw, 25px);
	--a-font-size: min(4vw, 2vh);
}
main::-webkit-scrollbar {
	display: none;
}
body::-webkit-scrollbar {
	display: none;
}
a {
}
p {
	max-width: min(90%, 1000px);
	margin: 2vw auto;
	font-size: var(--p-font-size);
	font-family: avenir;
}
h1 {
	
}
h2 {
	background-color: var(--h2-bg-color);
	font-size: var(--h2-font-size);
	color: var(--h2-text-color);
	padding: 1vh 3vh;
	margin: 0 auto 3vh;
	display: inline-flex;
}
hr {
	border: 1px solid white;
	margin: 4.5vh auto -4.5vh;
	width: 99%;
	height: 0;
}
body {
	margin: 0;
	text-align: center;
	color: var(--text-color);
	background-color: #000000;
	font-family: avenirlight, sans-serif;
}
header {
	height: var(--header-height);
	background: var(--header-color);
	color: var(--text-color);
	width: 100vw;
	z-index: 1;
	position: sticky;
	top: calc(-1*(var(--logo-height) + var(--logo-margin-top)))
}
header > a {
	text-decoration: none;
	color: white;
}
a > picture > img {
	height: var(--logo-height);
	margin-top: var(--logo-margin-top);
}
a > h1 {
	margin: -1vh 0 1vh;
	font-size: var(--h1-font-size);
}
main {
	overflow-x: hidden;
	overflow-y: scroll;
	display: grid;
	position: relative;
}
.spanbg {
	position: fixed;
	overflow: hidden;
	width: 100vw;
	height: calc(var(--span-height) + (var(--logo-height) + var(--logo-margin-top) + 1vh));
	min-height: calc(((100vh - var(--max-span-gap)) - var(--header-height)) + (var(--logo-height) + var(--logo-margin-top) + 1vh));
	max-height: calc((100vh - var(--header-height)) + (var(--logo-height) + var(--logo-margin-top) + 1vh));
	margin-top: calc(var(--nav-height) - 0.5vh);
}
.spanbg > picture > img {
	width: 100vw;
	height: 100%;
	object-fit: cover;
}
.span {
	height: var(--span-height);
	min-height: calc((100vh - var(--max-span-gap)) - var(--header-height));
	max-height: calc(100vh - var(--header-height));
	align-items: center;
	justify-content: center;
	display: grid;
}
.span > span {
	font-family: luloclean;
	font-size: var(--span-font-size);
	color: var(--text-color);
	letter-spacing: 3vmin;
	margin: auto;
	width: auto;
	padding-left: 4vmin;
}
.bg {
	background: url('../pics/sunsetbg.webp') center, url('../pics/sunsetbg.jpg') center;
	background-repeat: no-repeat, no-repeat;
	background-size: cover;
	padding: 5vw 0;
	width: 100vw;
}
.bg > div {
	padding: 2.5vw 10vw;
}
.autoformat {
	display: grid;
    grid-gap: 5vw;
}
@media (min-width: 100vh) {
	.autoformat {
		grid-template-columns: auto auto;
	}
}