.autoformat > picture > img {
	padding: 5%;
	margin: auto;
	width: 85%;
}
.autoformat > picture > img:hover {
	transform: scale(1.17);
}
.autoformat > picture:nth-child(5n + 1) > img {
	background-color: var(--accent-color);
}
.autoformat > picture:nth-child(5n + 2) > img {
	background-color: var(--header-color);
}
.autoformat > picture:nth-child(5n + 3) > img {
	background-color: var(--text-color);
}
.autoformat > picture:nth-child(5n + 4) > img {
	background-color: rgba(from var(--accent-color) r g b / 0.7);
}
.autoformat > picture:nth-child(5n) > img {
	background-color: var(--nav-color);
}
h2 {
	color: var(--text-color);
	background-color: #00000000;
}
h2 > a {
	font-size: 6vmin;
	text-decoration: none;
	color: var(--text-color);
	background-color: rgba(from var(--header-color) r g b / 0.5);
	padding: 3vmin 12vmin;
}
h2 > a:hover {
	color: var(--nav-color);
	background-color: #00000000;
}